/4-tier-segmentation.png
/acquisition-channel-2-segment.png
/acquisition-channel-3-pie-segment.png
/acquisition-channel-segment.png
/acquistion-channel-3-heatmap-segment.png
/activity-acquisition-channel-1.png
/activity-acquisition-channel-2.png
/activity-acquisition-channel-3.png
/activity-categories-segments.png
/activtity-heatmap-segment.png
/age-segment.png
/body_users.csv
/channels1.csv
/channels2.csv
/channels3.csv
/eda copy.ipynb
/event_types.csv
/gender-segment.png
/onboarding-funnel.png
/onboarding.csv
/onboarding_akonya.ipynb
/onboarding_funnel_analysis.png
/overall.png
/segment_eda.ipynb
/test.ipynb
/top-10-activities-segments.png
/trading-features-acquisition.png
/user_segment_slice.csv
/users_events_slice_1.csv
/users_events_slice_2.csv
/users_events_slice_3.csv
/users_events_slice_4.csv
/users_events_slice_5.csv
/users_events_slice_6.csv